<ul class="request_status">
    <li class="open_request">
        <a href="{% url 'home' %}?query={{ticket.is_open}}">Open</a>
    </li>
    <li class="in_progress_request">
        <a href="{% url 'home' %}?query={{ticket.is_in_progress}}">Progress</a>
    </li>
    <li class="resolved_request">
        <a href="{% url 'home' %}?query={{ticket.is_resolved}}">Resolved</a>
    </li>
    <li class="closed_request">
        <a href="{% url 'home' %}?query={{ticket.is_closed}}">Closed</a>
    </li>
</ul>