:root {
    --color-primary: #f1d11e;
    --color-danger: #ff7782;
    --color-success: #41f159;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-gray: #9da6b3;
    --color-light-gray: #b6bdcc;
    --color-primary-variant: #927f11;
    --color-dark-variant: #677483;
    --color-background: #f0f0f7;
    --color-open-request:  rgb(109, 109, 253);
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.2rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}


#header {
    background-color: var(--color-white);
}

.header__logo{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
}
  
.header__logo > img {
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#header #branding .header__logo #site-name a {
    color: var(--color-dark);
    font-weight: 550;
}

#header #user-tools {
    color: var(--color-dark);
    font-weight: 400;
}

#header #user-tools a, #logout-form button {
    color: var(--color-primary-variant);
    font-weight: 400;
}

/* #main {
    background-color: var(--color-background);
} */

/* #content h1 {
    color: var(--color-dark);
} */

/* .sticky {
    background-color: var(--color-white);
} */

/* div#nav-sidebar {
    background-color: var(--color-white);
} */

#content-main .object-tools li a {
    background-color: var(--color-info-dark);
}

#content-main .module #changelist-filter h2 {
    background-color: var(--color-dark-variant);
}

#content-main .module #changelist-filter details summary {
    font-weight: 550;
}

#content-main .module #changelist-filter details ul li.selected {
    border-left: 3px solid var(--color-info-light);
}

#content-main .module #changelist-filter details ul .selected a {
    color: var(--color-primary-variant);
    font-weight: 550;
}

.module caption {
    background-color: var(--color-dark-variant);
}

/* .module table caption a.section {
    color: var(--color-white);
} */

.module h2 {
    background-color: var(--color-dark-variant);
}

div.breadcrumbs {
    background-color: var(--color-info-light);
    color: var(--color-dark-variant);
}

div.breadcrumbs a {
    color: var(--color-dark);
}

div.breadcrumbs a:hover {
    color: var(--color-primary-variant);
}

.selector .selector-chosen h2 {
    background-color: var(--color-dark-variant);
}

.button, input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
    background: var(--color-dark-variant);
}

.button:hover, input[type="submit"]:hover,
input[type="button"]:hover,
.submit-row input:hover,
a.button:hover {
    background: var(--color-dark);
}

.submit-row input.default {
    background: var(--color-dark);
}

.submit-row input.default:hover {
    background: var(--color-primary-variant);
}

  