{% extends 'main.html' %}  

{% block content %}
	<body class="layout dashboard-body">
		<div class="container"> 
      <!-- Aside Start -->
      <aside class="dashboard-aside">
        <div class="top">
          <div class="date">
            <p>{{ time_zone_with_time }}</p>
            <p>{{ current_date }}</p>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp">close</span>
          </div>
        </div>
    
        <div class="sidebar">
          <a class="active dashboard-a" href="{% url 'dashboard' %}" id="defaultOpen">
            <span class="material-symbols-sharp" style="font-variation-settings: 'FILL' 1;">grid_view</span>
            <h3 class="dashboard-h3">Dashboard</h3>
          </a>
          <a title="Notifications" class="dashboard-a" href="{% url 'home' %}">
            <span class="material-symbols-sharp">notifications</span>
            <h3 class="dashboard-h3">Notifications</h3>
            <span class="notification-count">{{ open_ticket_count }}</span>
          </a>
          <a title="Analytics" class="dashboard-a tablink" href="{% url 'pivot_data' %}" >
            <span class="material-symbols-sharp">insights</span>
            <h3 class="dashboard-h3">Analytics</h3>
          </a>
          <a title="Reports" class="dashboard-a" href="#">
            <span class="material-symbols-sharp">summarize</span>
            <h3 class="dashboard-h3">Reports</h3>
          </a>
          <a title="Staff" class="dashboard-a tablink" onclick="openPage('Staff', this)">
            <span class="material-symbols-sharp">person</span>
            <h3 class="dashboard-h3">Users</h3>
          </a>          
          <a title="Settings" class="dashboard-a tablink" onclick="openPage('Settings', this)">
            <span class="material-symbols-sharp">settings</span>
            <h3 class="dashboard-h3">Settings</h3>
          </a>
          <a title="Make Requests" class="dashboard-a tablink" onclick="openPage('Requests', this)">
            <span class="material-symbols-sharp">add</span>
            <h3 class="dashboard-h3">Request</h3>
          </a>
        </div>
      </aside>
      <!-- Aside End -->
    
      <!-- Start Main -->
      <main class="dashboard-main">    
        <!-- Start Insights 1 -->
        <div class="insights">
          <!-- Start Open -->
          <div class="open_request" style="font-variation-settings: 'FILL' 1;">
            <span class="material-symbols-sharp">flag</span>
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Open</h3>
              </div>
              <div class="open_request_count">
                <div class="number">
                  {% if open_tickets_on_interval >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                    <h1 class="dashboard-h1">{{ open_tickets_on_interval }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
              <small class="dashboard-text-muted dashboard-small">Last 24 hours</small>
              <!-- <small class="dashboard-text-muted dashboard-small">{{ time_interval|timesince }} ago</small> -->
          </div>
          <!-- End Open -->
    
          <!-- Start In progress -->
          <div class="in_progress_request">
            <span class="material-symbols-sharp">pending_actions</span>
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">In progress</h3>
              </div>
              <div class="in_progress_request_count">
                <div class="number">
                  {% if in_progress_tickets_on_interval >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ in_progress_tickets_on_interval }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
              <small class="dashboard-text-muted dashboard-small">Last 24 hours</small>
              <!-- <small class="dashboard-text-muted dashboard-small">{{ time_interval|timesince }} ago</small> -->
          </div>
          <!-- End In progress -->
    
          <!-- Start Resolved -->
          <div class="resolved_request">
            <span class="material-symbols-sharp">done</span>
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Resolved</h3>
              </div>
              <div class="resolved_request_count">
                <div class="number">
                  {% if resolved_tickets_on_interval >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ resolved_tickets_on_interval }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
              <small class="dashboard-text-muted dashboard-small">Last 24 hours</small>
              <!-- <small class="dashboard-text-muted dashboard-small">{{ time_interval|timesince }} ago</small> -->
          </div>
          <!-- End Resolved -->
    
          <!-- Start Closed -->
          <div class="closed_request">
            <span class="material-symbols-sharp">block</span>
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Closed</h3>
              </div>
              <div class="closed_request_count">
                <div class="number">
                  {% if closed_tickets_on_interval >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ closed_tickets_on_interval }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
              <small class="dashboard-text-muted dashboard-small">Last 24 hours</small>
              <!-- <small class="dashboard-text-muted dashboard-small">{{ time_interval|timesince }} ago</small> -->
          </div>
          <!-- End Closed -->
        </div>
        <!-- End Insights 1 -->

        <!-- Start Insights 2 -->
        <div class="insights">
          <!-- Start Open -->
          <div class="open_request insights-2">
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Daily</h3>
              </div>
              <div class="open_request_time">
                <div class="number">
                  {% if open_ticket_per_day >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ open_ticket_per_day }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- End Open -->
    
          <!-- Start In progress -->
          <div class="in_progress_request insights-2">
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Weekly</h3>
              </div>
              <div class="open_request_time">
                <div class="number">
                  {% if open_ticket_per_week >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ open_ticket_per_week }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- End In progress -->
    
          <!-- Start Resolved -->
          <div class="resolved_request insights-2">
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Monthly</h3>
              </div>
              <div class="open_request_time">
                <div class="number">
                  {% if open_ticket_per_month >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ open_ticket_per_month }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- End Resolved -->
    
          <!-- Start Closed -->
          <div class="closed_request insights-2">
            <div class="middle">
              <div class="left">
                <h3 class="dashboard-h3">Yearly</h3>
              </div>
              <div class="open_request_time">
                <div class="number">
                  {% if open_ticket_per_year >= 1000 %}
                    <h1 class="dashboard-h1">999+</h1>
                  {% else %}
                  <h1 class="dashboard-h1">{{ open_ticket_per_year }}</h1>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- End Closed -->
        </div>
        <!-- End Insights 2 -->
    
        <div class="recent-requests">
          <h2 class="dashboard-h2">Recent Requests</h2>
          <table>
            <thead>
              <tr>
                <th>Creator</th>
                <th>Requestid</th>
                <th>Subject</th>
                <th>Created</th>
                <th>Status</th>
              </tr>
            </thead>
            
              <tbody>
                {% for ticket in tickets %}
                  <tr>
                    <td>{{ ticket.creator.user_name }}</td>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.subject.name }}</td>
                    <td>{{ ticket.created|timesince }}</td>
                    {% if ticket.is_open %}
                      <td class="open_status">Open</td>
                    {% elif ticket.is_in_progress %}
                      <td class="in_progress_status">In progress</td>
                    {% elif ticket.is_resolved %}
                      <td class="resolved_status">Resolved</td>
                    {% elif ticket.is_closed %}
                      <td class="closed__status">Closed</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <a class="dashboard-a" href="{% url 'home'}">Show All</a>
        </div>
      </main>
      <!-- End Main -->
    
      <!-- Right -->
      <div class="dashboard-right">    
        <!-- Start Recent Updates -->
        <div class="recent-updates">
          {% include 'base/components/activity_component.html' %}
          {% comment %} <div class="updates">
            {% for comment in ticket_comments %}

            <div class="activities__boxHeader roomListRoom__header">
              <a href="{% url 'user-profile' comment.user.id %}" class="roomListRoom__author">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_active %}
                      <div class="avatar avatar--small active">
                        <img src="{{ comment.user.avatar.url }}">
                      </div>
                    {% else %}
                      <div class="avatar avatar--small">
                        <img src="{{ comment.user.avatar.url }}">
                      </div>
                    {% endif %}
                  {% endif %}
                  <p>
                      {% if request.user == comment.user %}
                          @You
                      {% else %}
                          @{{comment.user}}
                      {% endif %}
                  </p>
              </a>
            </div>
            <div class="activities__boxContent">
              <p>responded to request</p>
              <a href="{% url 'ticket' comment.ticket.id %}" class="roomListRoom__author">
                  "{{comment.ticket}}"
              </a>
              <div class="activities__boxRoomContent">
                  {{comment.body}}
              </div>
          </div> {% endcomment %}

              {% comment %} <div class="update"> {% endcomment %}
                {% comment %} <a href="{% url 'user-profile' comment.user.id %}" class="roomListRoom__author">
                  {% if user.is_authenticated %}
                    {% if user.is_user_online %}
                      <div class="avatar avatar--small active">
                        <img src="{{ comment.user.avatar.url }}">
                      </div>
                    {% else %}
                      <div class="avatar avatar--small">
                        <img src="{{ comment.user.avatar.url }}">
                      </div>
                    {% endif %}
                  {% endif %}
                  <p>
                      {% if request.user == comment.user %}
                          @You
                      {% else %}
                          @{{comment.user}}
                      {% endif %}
                  </p>
                </a> {% endcomment %}
                {% comment %} <div class="profile">
                  <div class="profile__avatar">
                    {% if user.is_authenticated %}
                      {% if user.is_user_online %}
                        <div class="avatar avatar--small active">
                          <img src="{{ comment.user.avatar.url }}">
                        </div>
                      {% else %}
                        <div class="avatar avatar--small">
                          <img src="{{ comment.user.avatar.url }}">
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="message">
                  <a href="{% url 'user-profile' comment.user.id %}" class="roomListRoom__author">
                    <p>{{ comment.user }}</p>
                  </a>
                  responded to request
                  <a href="{% url 'ticket' comment.ticket.id %}" class="roomListRoom__author">
                    "{{ comment.ticket.subject.name }}"
                  </a>
                  <small class="dashboard-text-muted dashboard-small">{{comment.created|timesince}} ago</small>
                </div>
              </div> {% endcomment %}
            {% comment %} {% endfor %} {% endcomment %}
            {% comment %} <div class="update">
              <div class="message">
                <small class="dashboard-text-muted dashboard-small">More</small>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
        <!-- End Recent Updates -->
    
        {% comment %} <!-- Start Requests Analytics -->
        <div class="requests-analytics">
          <h2>Requests Analytics</h2>
          <div class="item online">
            <div class="icon" style="font-variation-settings: 'FILL' 1;">
              <span class="material-symbols-sharp">shopping_cart</span>
            </div>
            <div class="dashboard-right">
              <div class="info">
                <h3>ONLINE ORDERS</h3>
                <small class="dashboard-text-muted dashboard-small">Last 24 Hours</small>
              </div>
              <h5 class="success">+39%</h5>
              <h3>3849</h3>
            </div>
          </div>
          <div class="item offline">
            <div class="icon" style="font-variation-settings: 'FILL' 1;">
              <span class="material-symbols-sharp">local_mall</span>
            </div>
            <div class="dashboard-right">
              <div class="info">
                <h3>OFFLINE ORDERS</h3>
                <small class="dashboard-text-muted dashboard-small">Last 24 Hours</small>
              </div>
              <h5 class="danger">-17%</h5>
              <h3>1100</h3>
            </div>
          </div>
          <div class="item customers">
            <div class="icon" style="font-variation-settings: 'FILL' 1;">
              <span class="material-symbols-sharp">shopping_cart</span>
            </div>
            <div class="dashboard-right">
              <div class="info">
                <h3>NEW CUSTOMERS</h3>
                <small class="dashboard-text-muted dashboard-small">Last 24 Hours</small>
              </div>
              <h5 class="warning">+25%</h5>
              <h3>849</h3>
            </div>
          </div>
          <div class="item add-product">
            <div>
              <span class="material-symbols-sharp">add</span>
            </div>
          </div>
        </div>
        <!-- End Requests Analytics --> {% endcomment %}
      </div>
      <!-- End Right -->
    </div>
  </body>
{% endblock content %}

