<div class="container">
    <!-- Aside Start -->
    <aside>
        <div class="top">
            <div class="logo">
                <img src="./images/logo.bmp">
                <h2>QCell<span class="danger">SL</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-symbols-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#" class="active">
                <span class="material-symbols-sharp" style="font-variation-settings: 'FILL' 1;">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">person</span>
                <h3>Customers</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">receipt_long</span>
                <h3>Orders</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">insights</span>
                <h3>Analytics</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">notifications</span>
                <h3>Notifications</h3>
                <span class="notification-count">26</span>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">inventory</span>
                <h3>Products</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">report_gmailerrorred</span>
                <h3>Reports</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">settings</span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">add</span>
                <h3>Add Product</h3>
            </a>
            <a href="#">
                <span class="material-symbols-sharp">logout</span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!-- Aside End -->

    <!-- Start Main -->
    <main>
        <h1>Dashboard</h1>

        <div class="date">
            <input type="date">
        </div>

        <!-- Start Insights -->
        <div class="insights">
            <div class="sales" style="font-variation-settings: 'FILL' 1;">
                <span class="material-symbols-sharp">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Open</h3>
                        <h1>250</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <!-- End Open -->

            <!-- Start Pending -->
            <div class="expenses">
                <span class="material-symbols-sharp">bar_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Pending</h3>
                        <h1>141</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>62%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <!-- End Pending -->

            <!-- Start Resolved -->
            <div class="income">
                <span class="material-symbols-sharp">stacked_line_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Resolved</h3>
                        <h1>464</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <!-- End Resolved -->

            <!-- Start Closed -->
            <div class="income">
                <span class="material-symbols-sharp">stacked_line_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Closed</h3>
                        <h1>114</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>27%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <!-- End Closed -->
        </div>
        <!-- End Insights -->

        <div class="recent-orders">
            <h2>Recent Requests</h2>
            <table>
                <thead>
                    <tr>
                        <th>Staff</th>
                        <th>RequestID</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                    <tr>
                        <td>Foldable Mini Drone</td>
                        <td>85631</td>
                        <td>Due</td>
                        <td class="warning">Pending</td>
                        <td class="primary">Details</td>
                    </tr>
                </tbody>
            </table>
            <a href="#">Show All</a>
        </div>
    </main>
    <!-- End Main -->

    <!-- Right -->
    <div class="right">
        <!-- Start Top -->
        <div class="top">
            <button id="menu-btn">
                <span class="material-symbols-sharp">menu</span>
            </button>
            <div class="theme-toggler">
                <span class="material-symbols-sharp active" style="font-variation-settings: 'FILL' 1;">light_mode</span>
                <span class="material-symbols-sharp" style="font-variation-settings: 'FILL' 1;">dark_mode</span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hey, <b>Amid</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="C:\Users\dabor\Desktop\QSupport -Admin-Dashboard\images\Passport.png">
                </div>
            </div>
        </div>
        <!-- End Top -->

        <!-- Start Recent Updates -->
        <div class="recent-updates">
            <h2>Recent Updates</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <img src="C:\Users\dabor\Desktop\QSupport -Admin-Dashboard\images\P3.png">
                    </div>
                    <div class="message">
                        <p><b>Aminu Dabor</b> received his order of high tech Webmail Server.</p>
                        <small class="text-muted">2 Minutes Ago</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <img src="C:\Users\dabor\Desktop\QSupport -Admin-Dashboard\images\Passport (2).png">
                    </div>
                    <div class="message">
                        <p><b>Juliet Bangura</b> received his order of high tech Webmail Server.</p>
                        <small class="text-muted">2 Minutes Ago</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <img src="C:\Users\dabor\Desktop\QSupport -Admin-Dashboard\images\Photo.jpg">
                    </div>
                    <div class="message">
                        <p><b>Bernard Jones</b> received his order of high tech Webmail Server.</p>
                        <small class="text-muted">2 Minutes Ago</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Updates -->

        <!-- Start Sales Analytics -->
        <div class="sales-analytics">
            <h2>Sales Analytics</h2>
            <div class="item online">
                <div class="icon" style="font-variation-settings: 'FILL' 1;">
                    <span class="material-symbols-sharp">shopping_cart</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>ONLINE ORDERS</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="success">+39%</h5>
                    <h3>3849</h3>
                </div>
            </div>
            <div class="item offline">
                <div class="icon" style="font-variation-settings: 'FILL' 1;">
                    <span class="material-symbols-sharp">local_mall</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>OFFLINE ORDERS</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="danger">-17%</h5>
                    <h3>1100</h3>
                </div>
            </div>
            <div class="item customers">
                <div class="icon" style="font-variation-settings: 'FILL' 1;">
                    <span class="material-symbols-sharp">shopping_cart</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>NEW CUSTOMERS</h3>
                        <small class="text-muted">Last 24 Hours</small>
                    </div>
                    <h5 class="success">+25%</h5>
                    <h3>849</h3>
                </div>
            </div>
            <div class="item add-product">
                <div>
                    <span class="material-symbols-sharp">add</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Right -->
</div>