{% extends 'main.html' %}  

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                <h3>Password reset sent</h3>
                </div>
            </div>
            <div class="layout__body">
                <p>We've emailed you instructions for setting your new password; please wait, you should receive them shortly.</p>
                <br>
                <p>If you don't receive an email from us or receipt of email takes too long, check your address or spam folder. 
                    If spam doesn't contain your email, confirm your device has internet connection and 
                    click <a href="{% url 'password_reset' %}"><b>here</b></a> to try again.</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
