{% extends 'main.html' %}  

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                <h3>New password</h3>
                </div>
            </div>
            <div class="layout__body">
                <p><i>Please enter your new password. For security reasons, QCell ensures you follow the protocols below:</i></p>
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form__group form__group">
                        {{ form }}
                    </div>  
                    <input class="btn btn--main" type="submit" name="Update Password" value="Save new password">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
