{% extends 'main.html' %}  

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                <h3>Password reset</h3>
                </div>
            </div>
            <div class="layout__body">
                <p><i>Enter your email address below; you'll receive instructons for setting a new password.</i></p>
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form__group form__group">
                        {{ form }}
                    </div>  
                    <input class="btn btn--main" type="submit" name="Send email" value="Submit">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
