{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/> -->
    <!-- <script src="{% static 'webdatarocks/webdatarocks.js' %}"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
    <script src="https://cdn.webdatarocks.com/latest/webdatarocks.min.js"></script> -->
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="pivot-container" data-url="pivot_dashboard"></div>
    
    <script>
        let jsonData = JSON.parse('{{ json_data|escapejs }}');
        console.log(jsonData);
  
        let pivot = new Flexmonster({
            container: "pivot-container",
            componentFolder: "https://cdn.flexmonster.com/",
            licenseKey: "Z75G-XA465E-44081E-0J1J59",
            toolbar: true,
            report: {
                dataSource: {
                type: "json",
                data: jsonData,
                },
                slice: {
                rows: [
                    { uniqueName: "created" }
                ],
                measures: [
                    { uniqueName: "fields.pk", aggregation: "count" }
                ],
                filters: [
                    {
                        uniqueName: "is_open",
                        filter: {
                        members: ["1"]
                        }
                    },
                    {
                        uniqueName: "is_in_progress",
                        filter: {
                        members: ["1"]
                        }
                    }
                    ]
                }
            }
        });

    </script>
</body>
</html>
