{% extends 'main.html' %}  

{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'base/components/subjects_component.html' %}
      <!-- Topics End -->

      <!-- Ticket List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            {% if request.user.is_authenticated %}
              {% if request.user.is_active %}
                <div class="avatar avatar--large active">
                  <img src="{{ request.user.avatar.url }}">
                </div>
              {% else %}
                <div class="avatar avatar--large">
                  <img src="{{ request.user.avatar.url }}">
                </div>
              {% endif %}
            {% endif %}
          </div>
          <div class="profile__info">
            <h3>{{user.user_name}}</h3>
            {% if request.user == user %}
              <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>Biography</h3>
            <p>{{user.biography}}</p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            {% if request.user == user %}
              <h2>Your Requests</a>
            {% else %}
              <h2>{{user.user_name}}'s Requests</h2>
            {% endif %}
            </h2>
          </div>
        </div>
        {% include 'base/components/feed_component.html' %}
      </div>
      <!-- Ticket List End -->

      <!-- Activities Start -->
      {% include 'base/components/activity_component.html' %}
      <!-- Activities End -->
    </div>
  </main>
{% endblock content %}